<h1> <%= @h1 %> </h1>
<p>
  <%= link_to 'マイページ', mypage_path(current_user.id) %> | 
  <%= link_to 'ファイルアップロード', fileupload_path %>
</p>
<table border="1" width="800px">
  <tr>
    <th>サムネイル</th>
    <th>ファイル名</th>
    <th>説明</th>
    <th>アップロード日</th>
    <th>ファイル削除</th>
  </tr>


<% @myfiles.each do |myfile| %>

  <tr style="background-color:<%= cycle('#ffffff', '#d3d3d3') %>">
    <% filename = myfile.filename %>
<!--    <td><%= image_tag "/picture/#{current_user.id}/#{filename}", :size => '120x90'  %></td>
-->
    <td>
    <% if ['.jpg', '.gif', '.png'].include?(File.extname(filename).downcase) %>
      <%= link_to image_tag("/picture/#{current_user.id}/#{filename}", :size => '120x90'), "/report/picture/#{current_user.id}/#{filename}" %>
    <% end %>
    <% if ['.html', '.htm', '.css'].include?(File.extname(filename).downcase) %>
      <%= link_to("#{filename}", "/report/html/#{current_user.id}/#{filename}") %>
    <% end %>
    <% if ['.sh'].include?(File.extname(filename).downcase) %>
      <%= link_to("#{filename}", "/report/sh/#{current_user.id}/#{filename}") %>
    <% end %>
    <% if ['.zip'].include?(File.extname(filename).downcase) %>
      <%= link_to("#{filename}", "/report/zip/#{current_user.id}/#{filename}") %>
    <% end %>

</td>
    <td><%= myfile.filename %></td>
    <td><%= myfile.caption %></td>
    <td><%= truncate(myfile.created_at.to_s, :length => 19, :omission => "") %></td>
    <td><%= link_to('Destroy', :controller => 'fileupload', :action => 'destroy', :id => myfile.id, :confirm => 'Are you sure?') %></td>
  </tr>
<% end %>
</table>
